#ContactForm input {
    border: 1px solid rgb(228, 228, 228);
    background: #fff;
    width: 100%;
    height: 40px;
    border-radius: 0;
    padding: 6px 20px 6px 20px;
    margin-top: 10px;
}
#ContactForm textarea {
    padding: 6px 20px 6px 20px;
    margin-top: 10px;
    border-radius: 0px;
    height: 70px;
}
 #ContactForm div.registrationLabel{
    font-family: 'HelveticaPPS';
    font-size: 17px;
    font-weight: normal;
 }
 #ContactForm .col-md-12{
    padding: 0px !important;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px !important;
 }
 #ContactForm .validator-container{
     margin-top: 2px;
 }
    #ContactForm .validator-container .validator {
        color: red;
        float: right;
    }

#ContactForm #registrationSuccessMessage{
    position: relative;
    top: 10px;
    text-align: center;
}
 
 #ContactForm p {
    font-family: 'HelveticaPPS';
    font-size: 17px;
    color: #444;;
    list-style-type: disc;
    line-height: 28px;
 }

#ContactForm #send {
    width: 100%;
    height: 45px;
    padding: 10px;
    background: url(button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-color: #cc1b35;
    border: 0;
}

#ContactForm select{
    margin: 10px 0;
}

#loadingDiv{
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loadingDivImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: url(ajax-loader.gif);
  background-size: cover;
  width: 40px;
  height: 40px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #cd1433 !important;
    opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cd1433 !important;
    opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cd1433 !important;
    opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cd1433 !important;
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cd1433 !important;
    opacity: 0.5;
}